input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.content {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
form,
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.matsprices {
  max-width: 100vw;
}
.prospectingForm {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  gap: 10px;
}
.CobaltProfit,
.SaroniteProfit {
  border: 1px solid black;
  padding: 5px 20px;
  margin: 10px;
}
